
<div id="_layout" class="easyui-layout" fit="true">
    <div data-options="region:'west'" style="width:300px">
        <table id="WO_Main"></table>
        <div id="WO_Main_tools">
            <div class="easyui-accordion">
                <div title="查詢條件" data-options="iconCls:'icon-search'" style="overflow:auto;padding:10px;">
                    <input id="S_WONbr" /></p>
                    <label style="margin-right:18px">工單狀態</label>
                    <input type="checkbox" id="S_Create" value="1" />Created
                    <input type="checkbox" id="S_WIP" value="1" />WIP
                    <input type="checkbox" id="S_Complete" value="1" />Complete<br />
                    <input type="checkbox" id="S_Close" value="1" style="margin-left:82px" />Close</p>
                    <input id="S_PROD" />
                </div>
            </div>
        </div>


    </div>
    <div data-options="region:'center'">

        <div style=" width: 500px; float: left; height: 96%">
            <table id="WIPList"></table>
            <div id="WIPListtb">
                <label style="color:red">於資料列上擊點滑鼠右鍵可解鎖其資料</label>
            </div>

            <div id="toolbar">
                <a id="Create">單筆投產</a>
                <a id="BatchCreate">批次投產</a>
            </div>
        </div>
        <div id="Windows"></div>
    </div>

</div>

<script type="text/javascript">

    $(function () {
        LoadWOList();
    });

    function LoadWOList() {

        var _StatusStr = ''

        if (_Status.length == 0) {
            _StatusStr = '';
        } else {
            _StatusStr = "'" + _Status.join("','") + "'";
        }

        var QueryData = {
            WO: $('#S_WONbr').textbox('getText'),
            Status: _StatusStr,
            Prod: $('#S_PROD').combobox('getValue')
        }
        console.log(QueryData)
        var R = API('V_WOManage/LoadWoList', QueryData);
        $('#WO_Main').datagrid('loadData', R);
    }

    var _Status = [];

    //#region WO main

    $("#S_Create").click(function () {
        if ($(this).prop('checked')) {
            _Status.push('Create');
        } else {
            _Status.splice($.inArray('Create', _Status), 1);
        }
        LoadWOList();
    })
    $("#S_WIP").click(function () {
        if ($(this).prop('checked')) {
            _Status.push('WIP');
        } else {
            _Status.splice($.inArray('WIP', _Status), 1);
        }
        LoadWOList();
    })
    $("#S_Complete").click(function () {
        if ($(this).prop('checked')) {
            _Status.push('Complete');
        } else {
            _Status.splice($.inArray('Complete', _Status), 1);
        }
        LoadWOList();
    })
    $("#S_Close").click(function () {
        if ($(this).prop('checked')) {
            _Status.push('Close');
        } else {
            _Status.splice($.inArray('Close', _Status), 1);
        }
        LoadWOList();
    })

    $('#S_WONbr').textbox({
        label: '工單號',
        width: '100%',
        prompt: 'Enter鍵進行糢糊查詢'
    }).textbox('textbox').bind('keydown', function (e) {
        if (e.keyCode == 13) {	// when press ENTER key, accept the inputed value.
            LoadWOList();
        }
    });

    $('#S_PROD').combobox({
        label: '產品',
        width: '100%',
        valueField: 'id',
        textField: 'text',
        data: API('Public/GetDataSource', { Code: 'Prod' }),
        onChange: function (n, o) {
            LoadWOList();
        }
    })

    $('#WO_Main').datagrid({
        fit: true,
        columns: [[
            { field: 'SID', title: 'SID', hidden: true },
            { field: 'CODE', title: '工單號', width: '50%' },
            { field: 'Prod', title: '產品', width: '50%' }
        ]],
        toolbar: '#WO_Main_tools',
        singleSelect: true,
        onClickRow: function (ind, row) {
            var dg = API('V_WOManage/GetWOWIP', { SID: row.SID });
            $('#WIPList').datagrid('loadData', dg.data);
        }
    });

    //#endregion

   

    $('#BatchCreate').linkbutton({
        iconCls: 'icon-docs',
        //plain: true,
        width: '100px',
        onClick: function (obj) {
            if ($('#WO_Main').datagrid('getSelected') == null) {
                ErrorMsg('請選擇欲鎖定工單!')
                return;
            }

            $('#Windows').html('<div id="_Window" style="padding:10px"><input id="Qty" /></p><input id="WIPRemark" /></p><a id="StartBtn">投產</a></div>');

            $('#_Window').window({
                width: '300px',
                title: '批量投產',
                //height:'450px',
                collapsible: false,
                minimizable: false,
                maximizable: false,
                modal: true,
                closed: true,
                onClose: function () {
                    $('#Windows').html('');
                }
            });

            $('#StartBtn').linkbutton({
                iconCls: 'icon-add',
                //plain: true,
                width: '100%',
                onClick: function (obj) {

                    if (!CheckComboboxItem([$('#HoldReson')])) { return; }

                    var Info = {
                        UID: UserInfo.SID,
                        SID: $('#WO_Main').datagrid('getSelected').SID,
                        Reson: $('#HoldReson').combobox('getValue'),
                        Remark: $('#HoldRemark').textbox('getText')
                    }

                    var Result = API('V_WOHold/Hold', Info)
                    console.log(Result);
                    $('#HoldControl').datagrid('appendRow', Result);

                }
            });
            $('#Qty'). numberbox({
                label: '投產數量',
                width: '100%'
            })

            $('#WIPRemark').textbox({
                label: '備註',
                width: '100%',
                readonly: false,
                multiline: true,
                height: 150
            })

            $('#_Window').window('open');
        }
    });

    $('#Create').linkbutton({
        iconCls: 'icon-add',
        //plain: true,
        width: '100px',
        onClick: function (obj) {
            var row = $('#WO_Main').datagrid('getSelected');
            var R = API('V_WIPStart/CreateWIP', { WO_SID: row.SID, UID: UserInfo.SID });
            if (!R) { return; }
            $('#WIPList').datagrid('appendRow', R);
            Msg(R.CODE + '已投產');
        }
    });

    var dg = API('V_WOManage/GetWOWIP', { SID: '' });
    dg.footer = '#toolbar';
    dg.toolbar = '#WIPListtb';
    $('#WIPList').datagrid(dg);


</script>